<p id="notice"></p>
<div class="container px-5">
  <div class="row">
    <div class="col-3">

      <h2>User info</h2>

      <%= image_tag @user.get_profile_image(100,100) %>

      <table>
        <tr></tr>
        <tr>
        <th>name</th>
        <th><%= @user.name %></th>
        </tr>

        <tr>
        <th>introduction</th>
        <th><%= @user.introduction %></th>
        </tr>
      </table>

      <h2>New book</h2>

        <%= form_with model: @book do |f| %>
          <div class"text-group">
          <label fot="title">Title</label>
          <%= f.text_field :title %>
          </div>

          <div class"text-group">
          <label fot="opinion">Opinion</label>
          <%= f.text_area :body %>
          </div>

          <%= f.submit "Create Book" %>

        <% end %>
    </div>

  <div class="col-8">
    <h2>Books</h2>

        <table class="table table-hover">
          <thead>
          <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          </tr>
          </thead>

          <% @books.each do |book| %>
          <tbody>
          <tr>
          <td><%= image_tag book.user.get_profile_image(100,100) %></td>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
          </tr>
          </tbody>
          <% end %>

        </table>

    </div>
  </div>
</div>

