<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/73bd0b2830.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
        <nav class="container-fluid navbar navbar-dark bg-dark mx-auto">
          <div class ="container">
          <a class="navbar-brand" href="/">Bookers</a>
          <% if user_signed_in? %>

          <ul class="list-unstyled ml-auto m-0" >

            <li class="list-inline-item m-0">
              <%= link_to root_path , class: 'nav-link text-white' do %>
              <i class="fa fa-home"> </i> Home
              <% end %>
            </li>

            <li class="list-inline-item m-0">
              <%= link_to users_show_path,class: 'nav-link text-white' do %>
              <i class="fa fa-users"> </i> Users
              <% end %>
            </li>

            <li class="list-inline-item m-0">
              <%= link_to books_path,class: 'nav-link text-white' do %>
              <i class="fa fa-book-open"> </i> Books
              <% end %>
            </li>

            <li class="list-inline-item m-0">
              <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-white' do %>
               <i class="fa fa-sign-out-alt"></i> Log out
              <% end %>
            </li>
          </ul>

          <% else %>
          <ul class="list-unstyled ml-auto m-0" >
            <li class="list-inline-item m-0">
              <%= link_to root_path , class: 'nav-link text-white' do %>
              <i class="fa fa-home"> </i> Home
              <% end %>
            </li>

            <li class="list-inline-item m-0">
              <%= link_to about_path,class: 'nav-link text-white' do %>
              <i class="fa fa-link"> </i> About
              <% end %>
            </li>

            <li class="list-inline-item m-0">
              <%= link_to new_user_registration_path , class: 'nav-link text-white' do %>
              <i class="fa fa-user-plus"> </i> Sign up
              <% end %>
            </li>


            <li class="list-inline-item m-0">
              <%= link_to new_user_session_path,class: 'nav-link text-white' do %>
              <i class="fa fa-sign-in-alt"> </i> Log in
              <% end %>
            </li>

          </ul>
          <% end %>
          </div>
        </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      <div class ="container mt-5">
        <div class="mx-auto text-center">
          <span>CopyRight Infratop.inc</span>
        </div>
      </div>
    </footer>
  </body>
</html>
