<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">

        <% if user_signed_in? %>
        <li>
          <%= link_to"Home",root_path,class: 'nav-link text-white' %>
        </li>
        <li>
          <%= link_to"Users", users_show_path,class: 'nav-link text-white' %>
        </li>
        <li>
          <%= link_to"Books", books_path,class: 'nav-link text-white' %>
        </li>
        <li>
          <%= link_to"Log out",destroy_user_session_path, method: :delete,class: 'nav-link text-white' %>
        </li>
        <% else %>
        <li>
          <%= link_to"Home", root_path,class: 'nav-link text-white' %>
        </li>
        <li>
          <%= link_to"About", about_path,class: 'nav-link text-white' %>
        </li>
        <li>
          <%= link_to"Sign up",new_user_registration_path,class: 'nav-link text-white' %>
        </li>
        <li>
          <%= link_to"Log in",new_user_session_path,class: 'nav-link text-white' %>
        </li>
      <% end %>
    </nav>
    </header>
    <main>
    <%= yield %>
    </main>

    <footer class="container-fluid">

    </footer>
  </body>
</html>
